<app-alert *ngIf="showLocationError()" (close)="hideLocationError()">
  <div>Nie znaleziono lokalizacji pierwszego zadania</div>
</app-alert>

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
  <h1>Lista zadań</h1>
  <app-filter (filteredValue)="onFilteredValueChange($event)" class="block mb-5 w-full md:w-1/3"/>
  <ng-container *ngFor="let toDo of toDos()">
    <app-to-do-list-item *ngIf="toDo?.display"
                         [content]="toDo?.content"
                         [date]="toDo?.date"
                         [location]="toDo?.city"
                         [temperature]="toDo?.temperature"
    />
  </ng-container>
</div>
